<div class="container mt-4">
  <h1 class="my-4">すべての比較</h1>
  <div class="container mb-5">
    <p>これまでに作成した比較を見てみましょう。</p>
  </div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">アイテム1</th>
        <th scope="col">アイテム2</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @comparisons.each do |comparison| %>
        <% if comparison.primary_item != nil && comparison.secondary_item != nil %>
          <tr data-link="<%= comparison_path(comparison) %>">
            <td>
              <%= render partial: 'index_row', locals: { item: comparison.primary_item }%>
            </td>
            <td>
              <%= render partial: 'index_row', locals: { item: comparison.secondary_item }%>
            </td>
            <td>
              <%= link_to '表示', comparison_path(comparison), class: 'btn btn-sm btn-outline-secondary mr-2' %>
              <%= link_to '削除', comparison_path(comparison), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn btn-outline-danger btn-sm item-link" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to '新規比較', new_comparison_path, class: 'btn btn-outline-primary' %>
</div>