<div class="container mt-4">
  <h2 class="mb-5">新しい比較を作成</h2>
  <div class="container mb-5">
    <p>2つのアイテムを選択して、比較してみましょう。</p>
    <p>すでに存在する組み合わせを選択した場合は、その比較ページに移動します。</p>
  </div>

  <%= render 'shared/error_modal', object: @comparison, redirect_url: 'comparisons/new' %>

  <div class="col">
    <%= form_with model: @comparison do |form| %>
      <div class="col d-flex mb-4">
        <%= form.label :primary_item_id, '1つめのアイテム', class: "mr-3" %>
        <%= form.collection_select(:primary_item_id, @items, :id, :name, {prompt: '--選択してください--'}, {class:"btn btn-sm border border-secondary-subtle dropdown-toggle mb-3"}) %>
      </div>
      <div class="col d-flex mb-4">
        <%= form.label :secondary_item_id, '2つめのアイテム', class: "mr-3" %>
        <%= form.collection_select(:secondary_item_id, @items, :id, :name, {prompt: '--選択してください--'}, {class:"btn btn-sm border border-secondary-subtle dropdown-toggle mb-3"}) %>
      </div>
      <%= form.submit '作成', data: {turbo: false}, class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>