<div class="container mt-4" style="max-width: 90%;">
  <% if @comparison.primary_item.present? && @comparison.secondary_item.present? %>
    <h2 class="my-4">比較</h2>

    <div class="d-flex justify-content-between" style="width: 100%;">
      <div style="width: 49%;">
        <%= render partial: 'items/item_card', locals: { item: @comparison.primary_item, comparison_id: @comparison.id, source: 'comparison' } %>
      </div>
      <div style="width: 49%;">
        <%= render partial: 'items/item_card', locals: { item: @comparison.secondary_item, comparison_id: @comparison.id, source: 'comparison' }%>
      </div>
    </div>
    <table class="table mt-5">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width: 10%;">比較ポイント</th>
          <th scope="col" style="width: 40%;"><%= @comparison.primary_item.name %></th>
          <th scope="col" style="width: 40%;"><%= @comparison.secondary_item.name %></th>
          <th scope="col" style="width: 10%;">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @comparison.notes.each do |note| %>
          <% if note.attribute_name.present? %>
            <tr>
              <td><%= note.attribute_name %></td>
              <td><%= note.primary_value %></td>
              <td><%= note.secondary_value %></td>
              <td>
                <% if note.persisted? %>
                  <%= link_to "削除", comparison_note_path(@comparison, note), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn btn-outline-danger btn-sm item-link" %>
                <% end %>          
              </td>
            </tr>
          <% end %>
        <% end %>
        <%= render 'notes/form', comparison: @comparison, note: @note %>
      </tbody>
    </table>
  <% elsif %>
    <h2 class="my-4">対象アイテムが削除されています。</h2>
  <% end %>
</div>
