<%= form_with(model: item) do |form| %>
  <%= render 'shared/error_modal', object: item %>

  <div class="form-group mb-5">
    <% if item.persisted? %>
      <h2>アイテム更新</h2>
    <% else %>
      <h2>新規アイテム登録</h2>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :画像をアップロード, class: "form-label"%>
    <%= form.file_field :image, class: "form-control border border-0" %>
  </div>

  <div class="form-group">
    <%= form.label :アイテムの名称, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :アイテムの説明と購入理由, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :価格, class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :購入予定日, class: "form-label" %>
    <%= form.date_field :will_purchase_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :商品URL, class: "form-label" %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <% if item.persisted? %>
      <%= form.submit '更新', class: "btn btn-outline-primary", data: {turbo: false} %>
    <% else %>
      <%= form.submit '作成', class: "btn btn-outline-primary", data: {turbo: false} %>
    <% end %>
  </div>
<% end %>

<% if item.errors.any? %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      $('#errorModal').modal('show');
    });
  </script>
<% end %>
