<tr data-link="<%= item_path(item) %>">
  <td><%= image_tag item.image, class: "img-fluid", style: "max-width: 60px; height: auto; max-height: 40px" if item.image.attached? %></td>
  <td><%= item.name %></td>
  <td><%= formatted_price(item.price) %></td>
  <% if item.purchased_flag? %>
    <td><%= item.purchased_date %></td>
  <% else %>
    <td><%= item.will_purchase_date %></td>
  <% end %>
  <% if item.url.present? %>
    <td><%= link_to "商品ページ", item.url, target: "_blank", class: "btn btn-outline-info btn-sm item-link" %></td>
  <% else %>
    <td></td>
  <% end %>
  <td>
    <%= link_to "詳細", item_path(item), class: "btn btn-outline-secondary btn-sm item-link mr-2" %>
    <%= link_to "編集", edit_item_path(item), class: "btn btn-outline-secondary btn-sm item-link mr-2" %>
    <%= link_to "削除", item_path(item), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn btn-outline-danger btn-sm item-link mr-2" %>
    <% unless item.purchased_flag %>
      <%= link_to "購入済みにする", purchase_item_path(item), class: "btn btn-outline-secondary btn-sm item-link mr-2", data: {turbo_method: :patch, turbo_confirm: "購入済みにしますか？" } %>
    <% else %>
      <%= link_to "未購入に戻す", purchase_item_path(item), class: "btn btn-outline-secondary btn-sm item-link mr-2", data: {turbo_method: :patch, turbo_confirm: "未購入に戻しますか？" } %>
    <% end %>
  </td>
</tr>
