<tr data-link="<%= item_path(item) %>">
  <td>
    <div class="d-flex justify-content-center">
      <%# item_imageメソッドで、画像がない場合の分岐まで処理している %>
      <%= image_tag item_image(item), class: "img-fluid", style: "max-width: 60px; height: auto; max-height: 40px" %>
    </div>
  </td>
  <td><%= item.name %></td>
  <%# formatted_priceメソッドは、数値に¥マークをつけてカンマ区切りにするメソッド%>
  <td><%= formatted_price(item.price) %></td>
  <%# item_dateメソッドは、購入済みならば購入日、未購入ならば購入予定日を返すヘルパーメソッド%>
  <td><%= item_date(item) %></td>
  <%# item_urlメソッドは、URLがある場合のみリンクボタンを表示するメソッド%>
  <td><%= item_url(item) %></td>
  <td>
    <%= link_to "詳細", item_path(item), class: "btn btn-outline-secondary btn-sm item-link mr-2" %>
    <%= link_to "編集", edit_item_path(item, source: source), class: "btn btn-outline-secondary btn-sm item-link mr-2" %>
    <%= link_to "削除", item_path(item), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn btn-outline-danger btn-sm item-link mr-2" %>
    <%= purchase_link(item) %>
  </td>
</tr>
