<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h2 class="item-name"><%= item.name %></h2>
    <div>
      <% @comparison_id = :comparison_id %>
      <% if source == "comparison" %>
        <%= link_to "編集", edit_item_path(item, source: source, comparison_id: comparison_id), class: "btn btn-sm mt-2" %>
      <% else %>
        <%= link_to "編集", edit_item_path(item, source: source), class: "btn btn-sm mt-2" %>
      <% end %>
      <%= link_to "削除", item_path(item), data: {turbo_method: :delete, turbo_confirm: "このアイテムが参加している比較ページも削除されます。\n削除しますか？"}, class: "btn btn-sm mt-2" %>
    </div>
  </div>
  <% if item.image.attached? %>
    <%= image_tag item.image, class: "mt-4 img-fluid mx-auto d-block", style: "max-width: 500px; height: 200px;" %>
  <% else %>
    <%= image_tag "noimage.jpg", class: "img-fluid mx-auto d-block", style: "max-width: 300px; height: 200px" %>
  <% end %>
  <div class="card-body">
    <p class="card-text">説明：<%= simple_format(item.description) %></p>
    <p class="card-text">価格: <%= formatted_price(item.price) %></p>
    <p class="card-text">購入予定日: <%= item.will_purchase_date %></p>
    <% if item.url != "" %>
      <%= link_to "商品ページ", item.url, target: "_blank", class: "btn btn-sm btn-outline-info item-link mr-3" %>
    <% end %>
    <%= purchase_link(item) %>
  </div>
</div>
