<tr data-link="<%= item_path(item) %>">
  <td><%= item.name %></td>
  <td>¥<%= number_with_delimiter(item.price) %></td>
  <td><%= item.will_purchase_date %></td>
  <% if item.url.present? %>
    <td><%= link_to "商品ページ", item.url, target: "_blank", class: "btn btn-info btn-sm item-link" %></td>
  <% else %>
    <td></td>
  <% end %>
  <td>
    <%= link_to "詳細", item_path(item), class: "btn btn-info btn-sm item-link" %>
    <%= link_to "編集", edit_item_path(item), class: "btn btn-info btn-sm item-link" %>
    <%= link_to "削除", item_path(item), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn btn-danger btn-sm item-link" %>
  </td>
</tr>
