<div class="container mt-4" style="max-width: 90%;">

  <% if user_signed_in? %>
    <div class="row m-2 mt-5">
      <h3><%= display_heading %></h3>
    </div>

   <div class="mt-4">
      <%= form_with url: items_path, method: :get, local: true do %>
        <div class="form-wrapper d-flex align-items-center">
          <div class="form-group mr-4">
            <label for="year">年を選択:</label>
            <select name="year" id="year" class="form-control" onchange="this.form.submit()">
              <option value="">-- 選択してください --</option>
              <% (2024..Date.today.year+3).each do |year| %>
                <option value="<%= year %>" <%= 'selected' if year == @selected_year %>><%= year %>年</option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="month">月を選択:</label>
            <select name="month" id="month" class="form-control" onchange="this.form.submit()">
              <option value="">-- 選択してください --</option>
              <% (1..12).each do |month| %>
                <option value="<%= month %>" <%= 'selected' if month == @selected_month %>><%= month %>月</option>
              <% end %>
            </select>
          </div>
        </div>
      <% end %>
    </div>

    <% if @items.present? %>
      <table class="table table-hover mt-5">
        <thead class="thead-dark">
          <tr>
            <th>アイテム名</th>
            <th>価格</th>
            <th>購入予定日</th>
            <th>URL</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <% if item.user_id == current_user.id %>
              <%= render partial: "item", locals: { item: item } %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>
