<div class="container mt-4" style="max-width: 90%;">
  <% if user_signed_in? %>
    <div class="mt-5">
      <h3><%= display_heading("ほしいものリスト") %></h3>
    </div>
    <div class="mt-5">
      <%= render 'date_filter_form', form_url: items_path %>
    </div>
    <div class="m-1">
      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a class="nav-link disabled active">ほしいもの</a>
        </li>
        <li class="nav-item">
          <%= link_to '買ったもの', purchased_items_path(selected_year: @selected_year, selected_month: @selected_month), class: "nav-link" %>
        </li>
      </ul>
      <%= items_table(@items, current_user, 'ほしいもの') %>
      <%= link_to '+ 新規アイテム', new_item_path, class: "btn btn-outline-secondary ml-4"%>
    </div>
  <% end %>
</div>
