<div class="container mt-4" style="max-width: 600px;">
  <div class="card">
    <div class="card-header">
      <h2><%= @item.name %></h2>
    </div>
    <div class="card-body">
      <p class="card-text">説明：<%= @item.description %></p>
      <p class="card-text">価格: <%= @item.price %></p>
      <p class="card-text">購入予定日: <%= @item.will_purchase_date %></p>
      <% if @item.url != "" %>
        <p class="card-text">URL: <%= link_to @item.url, @item.url, target: "_blank" %></p>
      <% end %>
      <%= link_to "編集", edit_item_path(@item), class: "btn btn-primary" %>
      <%= link_to "もどる", items_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
